.thc-amp-dc-banner {
  @media screen and (min-width:1024px) and (max-width: 1280px) {
    .thc-amp-dc-banner-info-wrap {
      width: 100%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.thc-amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .thc-amp-dc-banner-info {
          display: block;
        }
        .thc-amp-dc-banner-header {
          text-transform: uppercase;
          font-family: brandon-grotesque, sans-serif;
          font-weight: 700;
          font-style: normal;
          //font-size: 24px;
        }
      }
    }
  }

  @media screen and (min-width:768px) and (max-width: 1024px) {
    .thc-amp-dc-banner-info-wrap {
      width: 100%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.thc-amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .thc-amp-dc-banner-info {
          display: block;
        }
        .thc-amp-dc-banner-header {
          text-transform: uppercase;
          font-family: brandon-grotesque, sans-serif;
          font-weight: 700;
          font-style: normal;
          font-size: 22px;
        }
        .thc-amp-dc-banner-subheader {
          text-transform: uppercase;
          font-family: brandon-grotesque, sans-serif;
          font-weight: 700;
          font-style: normal;
          //font-size: 28px;
        }
      }
    }
  }


  @media screen and (min-width:480px)and (max-width: 768px) {
    .thc-amp-dc-banner-info-wrap {
      width: 40%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.thc-amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .thc-amp-dc-banner-info {
          display: block;
        }
        .thc-amp-dc-banner-subheader {
          text-transform: uppercase;
          font-family: brandon-grotesque, sans-serif;
          font-weight: 700;
          font-style: normal;
          //font-size: 24px;
        }
      }
    }
  }

  @media screen and (min-width:321px) and (max-width: 480px) {
    .thc-amp-dc-banner-info-wrap {
      width: 50%;
      &[data-align='left'] {
        left: 20px;
      }
      &[data-align='right'] {
        right: 20px;
      }
      &.thc-amp-dc-info-bottom {
        width: 100%;
        &[data-align='left'] {
          left: 0;
        }
        &[data-align='right'] {
          right: 0;
        }
        &.thc-amp-dc-info-bottom {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          right: auto;
          display: block;
          max-width: 100%;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .thc-amp-dc-banner-info {
            display: block;
          }
          .thc-amp-dc-banner-header {
            text-transform: uppercase;
            font-family: brandon-grotesque, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
          }
          .thc-amp-dc-banner-subheader {
            text-transform: uppercase;
            font-family: brandon-grotesque, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 385px) {
    .thc-amp-dc-banner-info-wrap {
      width: 100%;
      &[data-align='left'] {
        left: 20px;
      }
      &[data-align='right'] {
        right: 20px;
      }
      &.thc-amp-dc-info-bottom {
        width: 100%;
        &[data-align='left'] {
          left: 0;
        }
        &[data-align='right'] {
          right: 0;
        }
        &.thc-amp-dc-info-bottom {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          right: auto;
          display: block;
          max-width: 100%;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .thc-amp-dc-banner-info {
            display: block;
          }
          .thc-amp-dc-banner-header {
            text-transform: uppercase;
            font-family: brandon-grotesque, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 12px;
          }
          .thc-amp-dc-banner-subheader {
            text-transform: uppercase;
            font-family: brandon-grotesque, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 22px;
          }
        }
      }
    }
  }
}