.amp-dc-banner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  * {
    margin: 0;
    padding: 0;
  }

  .amp-dc-hide {
    display: none;
  }

  .amp-dc-banner-info {
    //font-size: 22px;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 15px;
    min-width: 200px;
  }

  .amp-dc-banner-pic {
    max-width: 100%;
    display: block;
    img {
      width: 100%;
    }
  }

  .amp-dc-banner-img {
    width: 100%;
    display: block;
  }

  .amp-dc-banner-info-wrap {
    color: #fff;
    width: 33.3%;
    height: 100%;
    position: absolute;
    top: 0;
    white-space: normal;

    &[data-align='left'] {
      left: 10%;
    }
    &[data-align='right'] {
      left: 60%;
    }
    &[data-align='center'] {
      left: 35%;
    }
    &[data-align='top'] {
      top: -40%;
    }
    &[data-align='middle'] {
      top:0;
    }
    &[data-align='bottom'] {
      top: 35%;
    }



    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -1em; /* Adjusts for spacing */
    }
  }

  .amp-dc-banner-info {
    display: inline-block;
    vertical-align: middle;
  }

  .amp-dc-banner-header {
    //text-transform: uppercase;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 1em;
    margin-bottom: .5rem;
    letter-spacing: normal;
    //letter-spacing: 0.4vw;
    //max-width: max-content;
    //padding: 15px;
    ////margin-top : -30px;
    //position: absolute;
    //left: 50%;
    ////transform: translate(-50%, -50%);
  }

 .amp-dc-banner-subheader {
   font-family: trade-gothic-next, sans-serif;
   font-weight: 700;
   //font-style: bold;
   letter-spacing: 2px;
   font-size: 1.75vw;
   line-height: 1.3em;
   margin-bottom: 1em;
   //max-width: max-content;
  }
  .amp-dc-banner-description{
    //text-transform: uppercase;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    //text-transform: uppercase;
    font-size: 17px;
    //line-height: 13px;
  }

  .amp-dc-banner-button {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    min-width: 40%;
    padding: 17px 15px;
    background: #fff;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    &.black {
      background: #000;
      color: #fff;
    }
    &.white {
      background: #fff;
      color: #000;
    }
  }

}








