.amp-dc-banner {
  @media screen and (min-width:1281px) and (max-width: 2471px) {
    .amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 10%;
      }
      &[data-align='right'] {
        left: 10%;
      }
      &[data-align='center'] {
        left: 10%;
      }
      &.amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .amp-dc-banner-info {
          display: block;
        }
        .amp-dc-banner-header {
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          //font-style: italic;
          color: black !important;
          font-size: 12vw !important;
        }
        .amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          color: black !important;
          font-size: 10vw !important;
        }
        .amp-dc-banner-description {
          //#subheader[style] {
          //  color: black !important;
          //}
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          font-style: normal;
          color: black !important;
          font-size: 4vw !important;
        }
      }
    }
  }
  @media screen and (min-width:1025px) and (max-width: 1280px) {
    .amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 0;
      }
      &[data-align='right'] {
        left: 0;
      }
      &[data-align='center'] {
        left: 0;
      }
      &.amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .amp-dc-banner-info {
          display: block;
        }
        .amp-dc-banner-header {
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          //font-style: italic;
          color: black !important;
          font-size: 12vw !important;
        }
        .amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          color: black !important;
          font-size: 10vw !important;
        }
        .amp-dc-banner-description {
          //#subheader[style] {
          //  color: black !important;
          //}
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          font-style: normal;
          color: black !important;
          font-size: 4vw !important;
        }
      }
    }
  }

  @media screen and (min-width:769px) and (max-width: 1024px) {
    .amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      font-size: 24px;
      &[data-align='left'] {
        left: 8%;
      }
      &[data-align='right'] {
        left: 8%;
      }
      &[data-align='center'] {
        left: 8%;
      }
      &.amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .amp-dc-banner-info {
          display: block;
        }
        .amp-dc-banner-header {
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          //font-style: italic;
          font-size: 12vw !important;
          color: black !important;
        }
        .amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          color: black !important;
          font-size: 10vw !important;
          text-align: center;
        }
        .amp-dc-banner-description {
          //#subheader[style] {
          //  color: black !important;
          //}
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          font-style: normal;
          color: black !important;
          font-size: 4vw !important;
        }
      }
    }
  }


  @media screen and (min-width:481px)and (max-width: 768px) {
    .amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 0;
      }
      &[data-align='right'] {
        left: 0;
      }
      &[data-align='center'] {
        left: 0;
      }
      &.amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .amp-dc-banner-info {
          display: block;
        }
        .amp-dc-banner-header {
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          //font-style: italic;
          font-size: 12vw !important;
          color: black !important;
        }
        .amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          font-style: normal;
          color: black !important;
          font-size: 10vw !important;
        }
        .amp-dc-banner-description {
          //#subheader[style] {
          //  color: black !important;
          //}
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-family: adobe-caslon-pro,serif;
          font-weight: 400;
          font-style: normal;
          color: black !important;
          font-size: 4vw !important;
        }
      }
    }
  }

  @media screen and (min-width:320px) and (max-width: 480px) {
    .amp-dc-banner-header {
      //text-transform: uppercase;
      //font-family: adobe-caslon-pro,serif;
      //font-weight: 400;
      //font-size: 12vw !important;
    }
    .amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 10%;
      }
      &[data-align='right'] {
        left: 10%;
      }
      &[data-align='center'] {
        left: 10%;
      }
      &.amp-dc-info-bottom {
        width: 100%;
        &[data-align='left'] {
          left: 0;
        }
        &[data-align='right'] {
          right: 0;
        }
        &[data-align='center'] {
          right: 0;
        }
        &.amp-dc-info-bottom {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          right: auto;
          display: block;
          max-width: 100%;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .amp-dc-banner-info {
            display: block;
          }
          .amp-dc-banner-header {
            text-transform: uppercase;
            font-family: adobe-caslon-pro,serif;
            font-weight: 400;
            //font-style: italic;
            font-size: 12vw !important;
            color: black !important;
          }
          .amp-dc-banner-subheader {
            //#subheader[style] {
            //  color: black !important;
            //}
            //text-transform: uppercase;
            //text-transform: uppercase;
            font-family: adobe-caslon-pro,serif;
            font-weight: 400;
            font-style: normal;
            color: black !important;
            font-size: 10vw !important;
          }
          .amp-dc-banner-description {
            //#subheader[style] {
            //  color: black !important;
            //}
            //text-transform: uppercase;
            //text-transform: uppercase;
            font-family: adobe-caslon-pro,serif;
            font-weight: 400;
            font-style: normal;
            color: black !important;
            font-size: 4vw !important;
          }
        }
      }
    }
  }
}