.rl-amp-dc-banner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  .rl-amp-dc-hide {
    display: none;
  }

  .rl-amp-dc-banner-info {
    font-size: 22px;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 15px;
    min-width: 250px;
  }

  .rl-amp-dc-banner-pic {
    max-width: 100%;
    display: block;
    img {
      width: 100%;
    }
  }

  .rl-amp-dc-banner-img {
    width: 100%;
    display: block;
  }

  .rl-amp-dc-banner-info-wrap {
    color: #fff;
    width: 33.3%;
    height: 100%;
    position: absolute;
    top: 0;
    //white-space: normal;

    &[data-align='left'] {
      left: 10%;
    }
    &[data-align='right'] {
      left: 60%;
    }
    &[data-align='center'] {
      left: 35%;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -1em; /* Adjusts for spacing */
    }
  }

  .rl-amp-dc-banner-info {
    display: inline-block;
    vertical-align: middle;
  }

  .rl-amp-dc-banner-header {
    //text-transform: uppercase;
    font-family: adobe-caslon-pro,serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    line-height: 22px;
    //max-width: max-content;
    //padding: 9px;
    ////margin-top : -30px;
    //position: absolute;
    //left: 50%;
    ////transform: translate(-50%, -50%);

  }
  .rl-amp-dc-banner-subheader {
    font-family: gautreaux,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 80px;
    line-height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: max-content;
    &[data-align='left'] {
      text-align: left;
    }
    &[data-align='right'] {
      text-align: center;
    }
    &[data-align='center'] {
      text-align: right;
    }
  }
  .rl-amp-dc-banner-description{
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    //text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    &[data-align='left'] {
      text-align: left;
    }
    &[data-align='right'] {
      text-align: center;
    }
    &[data-align='center'] {
      text-align: right;
    }
  }

  .rl-amp-dc-banner-button {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    //text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
    display: inline-block;
    min-width: 40%;
    padding: 17px 15px;
    background: black;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing:2px;
    //&.black {
    //  background: #000;
    //  color: #fff;
    //}
    //&.white {
    //  background: #fff;
    //  color: #000;
    //}
    color:white;
  }

}








