.rl-amp-dc-banner {
  @media screen and (min-width:1024px) and (max-width: 1280px) {
    .rl-amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.rl-amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .rl-amp-dc-banner-info {
          display: block;
        }
        .rl-amp-dc-banner-header {
          font-family: adobe-caslon-pro,serif;
          font-weight: 500;
          font-style: italic;
          //font-size: 24px;
        }
        .rl-amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          font-family: gautreaux,sans-serif;
          font-weight: 300;
          font-style: normal;
          //font-size: 28px;
        }
      }
    }
  }

  @media screen and (min-width:768px) and (max-width: 1024px) {
    .rl-amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.rl-amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .rl-amp-dc-banner-info {
          display: block;
        }
        .rl-amp-dc-banner-header {
          font-family: adobe-caslon-pro,serif;
          font-weight: 500;
          font-style: italic;
          font-size: 22px;
        }
        .rl-amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          font-family: gautreaux,sans-serif;
          font-weight: 300;
          font-style: normal;
          //font-size: 28px;
        }
      }
    }
  }


  @media screen and (min-width:480px)and (max-width: 768px) {
    .rl-amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 40%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.rl-amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .rl-amp-dc-banner-info {
          display: block;
        }
        .rl-amp-dc-banner-subheader {
          #subheader[style] {
            color: black !important;
          }
          //text-transform: uppercase;
          font-family: gautreaux,sans-serif;
          font-weight: 300;
          font-style: normal;

          //font-size: 24px;
        }
      }
    }
  }

  @media screen and (min-width:321px) and (max-width: 480px) {
    .rl-amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 50%;
      &[data-align='left'] {
        left: 20px;
      }
      &[data-align='right'] {
        right: 20px;
      }
      &.rl-amp-dc-info-bottom {
        width: 100%;
        &[data-align='left'] {
          left: 0;
        }
        &[data-align='right'] {
          right: 0;
        }
        &.rl-amp-dc-info-bottom {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          right: auto;
          display: block;
          max-width: 100%;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .rl-amp-dc-banner-info {
            display: block;
          }
          .rl-amp-dc-banner-header {
            font-family: adobe-caslon-pro,serif;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
          }
          .rl-amp-dc-banner-subheader {
            #subheader[style] {
              color: black !important;
            }
            //text-transform: uppercase;
            font-family: gautreaux,sans-serif;
            font-weight: 300;
            font-style: normal;
            //font-size: 18px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 385px) {
    .rl-amp-dc-banner-info-wrap {
      #opacity[style] {
        opacity: 1 !important;
      }
      width: 100%;
      &[data-align='left'] {
        left: 20px;
      }
      &[data-align='right'] {
        right: 20px;
      }
      &.rl-amp-dc-info-bottom {
        width: 100%;
        &[data-align='left'] {
          left: 0;
        }
        &[data-align='right'] {
          right: 0;
        }
        &.rl-amp-dc-info-bottom {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          right: auto;
          display: block;
          max-width: 100%;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .rl-amp-dc-banner-info {
            display: block;
          }
          .rl-amp-dc-banner-header {
            font-family: adobe-caslon-pro,serif;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
          }
          .rl-amp-dc-banner-subheader {

            //text-transform: uppercase;
            font-family: gautreaux,sans-serif;
            font-weight: 300;
            font-style: normal;
            //font-size: 22px;
          }
        }
      }
    }
  }
}