.amp-dc-slider {
  @media screen and (max-width: 768px) {
    .amp-dc-slider-next, .amp-dc-slider-prev {
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      cursor: pointer;
      user-select: none;
      }
    .amp-dc-dots > li {
      border: 1px solid #cccccc;
      border-radius: 100%;
      //box-shadow: inset 1px 1px 1px #888;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin: 0 5px;
      cursor: pointer;
      &.active {
        background-color: #000;
      }
    }
    }
  }